<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOKEN</key>
	<string>213d8ec43fe9c1605ad2e2169b07595a575a2e6e</string>
	<key>taskOpen</key>
	<string>app</string>
</dict>
</plist>
