<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.zoomtrigs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>F2F287E8-CDBA-4689-873B-AFA6B61AAD16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8A993EE-2F66-4B99-8852-C02177DD0074</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Schwartz</string>
	<key>description</key>
	<string>Easily launch Zoom meetings</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom Triggers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Paste personal meeting ID</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F2F287E8-CDBA-4689-873B-AFA6B61AAD16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>https://stanford.zoom.us/my/stschwartz?pwd=anVEU3FCRGdjN3g4eThQOW1jZFNXZz09</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A8A993EE-2F66-4B99-8852-C02177DD0074</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A8A993EE-2F66-4B99-8852-C02177DD0074</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>F2F287E8-CDBA-4689-873B-AFA6B61AAD16</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://shawnschwartz.com</string>
</dict>
</plist>
