<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>4487463F-F755-4CD7-A085-270BB536E97F</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>ghsme</string>
			<key>text</key>
			<string>GitHub search my repos for ➡️ {query}</string>
			<key>url</key>
			<string>https://github.com/shawntschwartz?tab=repositories&amp;q={query}</string>
		</dict>
		<key>C734F873-FBCB-4B4E-9539-29434603E4E9</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>GitHub go to repo ➡️ {query}</string>
			<key>url</key>
			<string>https://github.com/shawntschwartz/{query}</string>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
