<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.bundled.osxdark</string>
	<key>lightthemeuid</key>
	<string>theme.custom.2030D688-7B15-4B7F-8139-BEEE6172B51E</string>
</dict>
</plist>
