<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>it.francescoface.alfred.phil</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>084F0340-439B-4306-BF6B-AE86037D62A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F27891F-3A2F-408F-8EA0-EDDD18DDDF9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>107ECEB9-CAD5-4A9C-8AA0-997B7EF419AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C18B3EE-48DE-4AD5-B32D-5FC40E9B9FDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F4881B67-E21E-49A8-963E-5ADD5685F506</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EEBC4B25-40BC-4C7C-BB57-A62DFCC19ED2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C1B29F41-2F64-4008-B331-4A76F4826A68</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67FDE543-9F36-4FBD-962D-C35CF0B8B87B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12E0784D-380F-4715-8A54-24D174CC587D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CC90CDD-E45A-41AC-8ECD-B9A76FF6896E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CF73B3D-8D06-4AF9-AD9B-9ECAF8069931</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66A9834A-38B1-473A-ACFD-C4F5D5D1B3CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23D90ABE-BC0C-4846-9D1F-995DF5739C7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28BA9EB4-93A1-461B-8E8F-8B264EBD2C79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD9C6ADA-151E-4CDE-B195-E9642E21CD16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B6B45F09-4FFE-4681-AF7F-A53D3E353CE5</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>290107B9-9D2C-4342-8D8B-E179A729FB85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F27891F-3A2F-408F-8EA0-EDDD18DDDF9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>084F0340-439B-4306-BF6B-AE86037D62A1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EE68431-90A3-407C-BE8E-99E95C28CA1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DC74588-2076-4258-9DD6-176048EB5EA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81627370-F2F8-49CA-B2D6-448F7B3FD08E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF09F058-9345-4350-8B3E-25B805625688</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F142973-9209-45B5-82C2-D968BADCEF25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFFA7B36-E266-4C10-AD06-F7E79357D3A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DB44412D-5956-47AC-B7C8-6EAA65986880</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F27891F-3A2F-408F-8EA0-EDDD18DDDF9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>626FD291-638D-400F-89ED-01B65F2CB317</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23D90ABE-BC0C-4846-9D1F-995DF5739C7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A79C379B-175A-4BC3-A539-ACC5A7A107B2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66A9834A-38B1-473A-ACFD-C4F5D5D1B3CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72ACF0CF-A973-450F-870C-0E46F6795BE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D53342F9-E31A-4BCD-AFAF-D3DDDB50A36B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>{var:msg_chain}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72ACF0CF-A973-450F-870C-0E46F6795BE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9C66EB8-D3D6-4C2D-954E-7C5E3B732E8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>28814CF9-87A5-4260-9A94-149E09F0DDBA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3691E2AA-60B4-440F-9BDE-1CF7F98E3122</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C18B3EE-48DE-4AD5-B32D-5FC40E9B9FDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25AAC3D5-E505-479A-814A-08CECBB26D48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>802B8906-CA34-4F8B-988A-4DA19EF967E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12E0784D-380F-4715-8A54-24D174CC587D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81627370-F2F8-49CA-B2D6-448F7B3FD08E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BC671F8-97A1-467B-BE09-BAC6B9B15732</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CC90CDD-E45A-41AC-8ECD-B9A76FF6896E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EDA2440-C602-4D7C-9EC1-BC5514904D62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EE68431-90A3-407C-BE8E-99E95C28CA1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6D5B8E3-C5B9-4459-A6A8-4F198723665B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EE68431-90A3-407C-BE8E-99E95C28CA1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9EDA2440-C602-4D7C-9EC1-BC5514904D62</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A79C379B-175A-4BC3-A539-ACC5A7A107B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23D90ABE-BC0C-4846-9D1F-995DF5739C7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD9C6ADA-151E-4CDE-B195-E9642E21CD16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0DDC591-8730-4CFF-93F4-97714A7B4B5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6B45F09-4FFE-4681-AF7F-A53D3E353CE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD9C6ADA-151E-4CDE-B195-E9642E21CD16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF09F058-9345-4350-8B3E-25B805625688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81627370-F2F8-49CA-B2D6-448F7B3FD08E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFFA7B36-E266-4C10-AD06-F7E79357D3A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3137137-2864-4704-960C-636ABC07BEF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0DDC591-8730-4CFF-93F4-97714A7B4B5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Copy the resulting text to the clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D1D2112B-5661-454A-A200-BFCAFC52A4ED</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1D2112B-5661-454A-A200-BFCAFC52A4ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0DDC591-8730-4CFF-93F4-97714A7B4B5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB44412D-5956-47AC-B7C8-6EAA65986880</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFFA7B36-E266-4C10-AD06-F7E79357D3A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF5A88BE-9535-48E6-9136-21570CDA1537</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12E0784D-380F-4715-8A54-24D174CC587D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>802B8906-CA34-4F8B-988A-4DA19EF967E6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E36ED369-6973-415A-B035-EA78972FE0D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CC90CDD-E45A-41AC-8ECD-B9A76FF6896E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8BC671F8-97A1-467B-BE09-BAC6B9B15732</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reuse this text to apply a new filter</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E45B149B-33F2-43EE-BB7B-D9B944693558</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>107ECEB9-CAD5-4A9C-8AA0-997B7EF419AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Francesco Face</string>
	<key>description</key>
	<string>A text filter tool</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Phil</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:msg_nodejs_missing_website}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D9C66EB8-D3D6-4C2D-954E-7C5E3B732E8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Filter text with Phil</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>1CF73B3D-8D06-4AF9-AD9B-9ECAF8069931</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ph</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Applying filters. Please wait...</string>
				<key>script</key>
				<string>#!/bin/bash

if ./check_node.sh; then
  node ./bin/phil "$1"
else
echo '{
    "items": [{
        "title": "'$msg_nodejs_missing_title'",
        "subtitle": "'$msg_nodejs_missing_subtitle'",
        "arg": "node-missing",
        "type": "default"
    }]
}'

fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type space and start writing a text to apply different filters</string>
				<key>title</key>
				<string>Apply filters to text</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>phil</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66A9834A-38B1-473A-ACFD-C4F5D5D1B3CA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>node-missing</string>
						<key>outputlabel</key>
						<string>node is missing</string>
						<key>uid</key>
						<string>28814CF9-87A5-4260-9A94-149E09F0DDBA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>node ok</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>72ACF0CF-A973-450F-870C-0E46F6795BE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3691E2AA-60B4-440F-9BDE-1CF7F98E3122</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Spaced</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>DF5A88BE-9535-48E6-9136-21570CDA1537</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>phil</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D53342F9-E31A-4BCD-AFAF-D3DDDB50A36B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>space</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>12E0784D-380F-4715-8A54-24D174CC587D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>chain</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>802B8906-CA34-4F8B-988A-4DA19EF967E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>UPPERCASE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C3137137-2864-4704-960C-636ABC07BEF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>upper</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B0DDC591-8730-4CFF-93F4-97714A7B4B5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>chain</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D1D2112B-5661-454A-A200-BFCAFC52A4ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>lowercase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>28BA9EB4-93A1-461B-8E8F-8B264EBD2C79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>lower</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AD9C6ADA-151E-4CDE-B195-E9642E21CD16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>chain</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B6B45F09-4FFE-4681-AF7F-A53D3E353CE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Title Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E36ED369-6973-415A-B035-EA78972FE0D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>phil</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>25AAC3D5-E505-479A-814A-08CECBB26D48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>title</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1CC90CDD-E45A-41AC-8ECD-B9A76FF6896E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:original_query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>original_query</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7C18B3EE-48DE-4AD5-B32D-5FC40E9B9FDA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>chain</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8BC671F8-97A1-467B-BE09-BAC6B9B15732</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Sentence case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>4F142973-9209-45B5-82C2-D968BADCEF25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>sentence</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BFFA7B36-E266-4C10-AD06-F7E79357D3A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>phil</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EEBC4B25-40BC-4C7C-BB57-A62DFCC19ED2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

if ./check_node.sh; then
  node ./bin/phil "$1" -cc $operation
else
	echo '{
		"alfredworkflow": {    
    			"variables": {
				"original_query": "'$1'",
				"node_missing": "true"
			}
		}
	}'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E45B149B-33F2-43EE-BB7B-D9B944693558</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:node_missing}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string>node-missing</string>
						<key>outputlabel</key>
						<string>node is missing</string>
						<key>uid</key>
						<string>F4881B67-E21E-49A8-963E-5ADD5685F506</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chain}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>node ok, go chain</string>
						<key>uid</key>
						<string>C1B29F41-2F64-4008-B331-4A76F4826A68</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>node ok, go copy</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>107ECEB9-CAD5-4A9C-8AA0-997B7EF419AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>chain</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DB44412D-5956-47AC-B7C8-6EAA65986880</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>camelCase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>A6D5B8E3-C5B9-4459-A6A8-4F198723665B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>camel</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2EE68431-90A3-407C-BE8E-99E95C28CA1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>67FDE543-9F36-4FBD-962D-C35CF0B8B87B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>chain</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9EDA2440-C602-4D7C-9EC1-BC5514904D62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>PascalCase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>290107B9-9D2C-4342-8D8B-E179A729FB85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>pascal</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5F27891F-3A2F-408F-8EA0-EDDD18DDDF9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>chain</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>084F0340-439B-4306-BF6B-AE86037D62A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>snake_case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>3DC74588-2076-4258-9DD6-176048EB5EA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>snake</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>81627370-F2F8-49CA-B2D6-448F7B3FD08E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>chain</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BF09F058-9345-4350-8B3E-25B805625688</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>spinal-case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>626FD291-638D-400F-89ED-01B65F2CB317</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>spinal</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>23D90ABE-BC0C-4846-9D1F-995DF5739C7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>chain</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A79C379B-175A-4BC3-A539-ACC5A7A107B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Phil - Philter any text

An [Alfred workflow](https://www.alfredapp.com/workflows/) to apply filters to text.

# Installation
1. Download the [alfred-phil.workflow](https://github.com/magobaol/alfred-phil/releases/latest/download/alfred-phil.workflow)  
2. Double click the downloaded file to install it in Alfred
 
# Usage
Just type `ph` followed by a space and the text you want to transform and then choose the result you need.  
Hit "Enter" to copy the text to the clipboard, or hold ⌥ while hitting enter to reuse the transformed text to apply another filter

# Credits
[Camel icons created by Freepik - Flaticon](https://www.flaticon.com/free-icons/camel)</string>
	<key>uidata</key>
	<dict>
		<key>084F0340-439B-4306-BF6B-AE86037D62A1</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>1115</real>
		</dict>
		<key>107ECEB9-CAD5-4A9C-8AA0-997B7EF419AF</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>12E0784D-380F-4715-8A54-24D174CC587D</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>1CC90CDD-E45A-41AC-8ECD-B9A76FF6896E</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>1CF73B3D-8D06-4AF9-AD9B-9ECAF8069931</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>23D90ABE-BC0C-4846-9D1F-995DF5739C7F</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>1300</real>
		</dict>
		<key>25AAC3D5-E505-479A-814A-08CECBB26D48</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>28BA9EB4-93A1-461B-8E8F-8B264EBD2C79</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>290107B9-9D2C-4342-8D8B-E179A729FB85</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>1040</real>
		</dict>
		<key>2EE68431-90A3-407C-BE8E-99E95C28CA1A</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>955</real>
		</dict>
		<key>3691E2AA-60B4-440F-9BDE-1CF7F98E3122</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>3DC74588-2076-4258-9DD6-176048EB5EA1</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>1155</real>
		</dict>
		<key>4F142973-9209-45B5-82C2-D968BADCEF25</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>5F27891F-3A2F-408F-8EA0-EDDD18DDDF9B</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>626FD291-638D-400F-89ED-01B65F2CB317</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>1270</real>
		</dict>
		<key>66A9834A-38B1-473A-ACFD-C4F5D5D1B3CA</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>67FDE543-9F36-4FBD-962D-C35CF0B8B87B</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>975</real>
		</dict>
		<key>72ACF0CF-A973-450F-870C-0E46F6795BE1</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>7C18B3EE-48DE-4AD5-B32D-5FC40E9B9FDA</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>802B8906-CA34-4F8B-988A-4DA19EF967E6</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>81627370-F2F8-49CA-B2D6-448F7B3FD08E</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>1185</real>
		</dict>
		<key>8BC671F8-97A1-467B-BE09-BAC6B9B15732</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>9EDA2440-C602-4D7C-9EC1-BC5514904D62</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>1005</real>
		</dict>
		<key>A6D5B8E3-C5B9-4459-A6A8-4F198723665B</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>A79C379B-175A-4BC3-A539-ACC5A7A107B2</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>1350</real>
		</dict>
		<key>AD9C6ADA-151E-4CDE-B195-E9642E21CD16</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>B0DDC591-8730-4CFF-93F4-97714A7B4B5C</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>B6B45F09-4FFE-4681-AF7F-A53D3E353CE5</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>BF09F058-9345-4350-8B3E-25B805625688</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>BFFA7B36-E266-4C10-AD06-F7E79357D3A9</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>C3137137-2864-4704-960C-636ABC07BEF8</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>D1D2112B-5661-454A-A200-BFCAFC52A4ED</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>D53342F9-E31A-4BCD-AFAF-D3DDDB50A36B</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>D9C66EB8-D3D6-4C2D-954E-7C5E3B732E8D</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>DB44412D-5956-47AC-B7C8-6EAA65986880</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>895</real>
		</dict>
		<key>DF5A88BE-9535-48E6-9136-21570CDA1537</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>E36ED369-6973-415A-B035-EA78972FE0D3</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>E45B149B-33F2-43EE-BB7B-D9B944693558</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>845</real>
		</dict>
		<key>EEBC4B25-40BC-4C7C-BB57-A62DFCC19ED2</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>845</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>msg_chain</key>
		<string>Reuse this text to apply a new filter</string>
		<key>msg_nodejs_missing_subtitle</key>
		<string>Press ENTER to open the website for installation instructions</string>
		<key>msg_nodejs_missing_title</key>
		<string>Node.js is not installed on this machine.</string>
		<key>msg_nodejs_missing_website</key>
		<string>https://github.com/magobaol/alfred-phil#requirements</string>
	</dict>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/magobaol/alfred-phil</string>
</dict>
</plist>
