[Desktop Entry]
Version=1.0
Name=Claude
Comment=Claude
Exec=omarchy-launch-webapp https://claude.ai/new
Terminal=false
Type=Application
Icon=/home/sts/.local/share/applications/icons/Claude.png
StartupNotify=true
