[Desktop Entry]
Name=Open URL in Chromium Web App
Exec=/home/sts/Scripts/open-url.sh %f
MimeType=applications/x-mswinurl;
Terminal=false
Type=Application
NoDisplay=true
